table, th, td {
  border: 1px solid gray;
  text-align: center;
  font-size: 1.1em;
}

table {
margin-top: 20px;
}

#form {
  padding: 50px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.section {
  text-align: center !important;
  font-weight: bold;
  background-color: #EEE;
}

.small {
  font-size: .5em;
}
